<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h3>
        Who are you?
      </h3>
      <p>
        So you've stumbled upon Theodore Lumaksono, or as he preferred to call myself on the internet: Theodore Lu.
      </p>
      <p>
          A moderate game enthusiast and a lover of a dying-but-fighting genre more well known as Trading Card Games.
        He had however decided to delve deeper into Web Development as bill started printing and reality sinks in.
      </p>
      <p>
        A software Engineer and briefly a Product Manager for itemku.
        Theodore graduated with a Bachelor in Computer Science from Universitas Bina Nusantara (Jakarta, Indonesia) and is currently pursuing a Master in Digital Transformation in Fachhochschule Dortmund (Dortmund, Germany).
      </p>
    </div>
  </div>
</div>
